
.b{
background-image:url('../img/Rectangle\ 2.png'), url('../img/Layer\ 4.png');
width: 100%;
height: 720px;
background-size: 100% ;
background-repeat: no-repeat;
}
.b .row{
    padding-top: 50px;
}
.b .a{
   padding-top: 210px;
}
.b .t{
   
    font-size: 50px;
    color:#fff;
}
.b .x{
    padding-top: 50px;
    font-size: 20px;
    color:#fff;
}
.b .navbar{
    position: absolute;
    left: 17%;
    top: 5%;
}
.b .v{
   width: 60px;
   height: 60px;
}
.b .q{
    position: absolute;
   width: 300px;
   height: 300px;
}
.b .a2{
padding-left: 40vw;
color:#fff;
text-decoration: none;
}
.b .aa{
    margin-left: 290px;
    margin-top: 20px;
}
.a .justify-content-center{
    margin-top: 100px;
    margin-bottom: 100px;
}
.a .aaa{
    font-size: 30px;
}
.a .bb{
    width: 3em;
    height: 3em;
}
.a .xx{
    margin-top: 20px;
    margin-bottom: 40px;
}
.a .g{
   
}
.c{
    background-color: #52ad81;
    text-align: center;
    padding-top: 30px;
    color:#fff;
}
.c .g{
    font-size: 50px;
    line-height: 100px;
}
.c .gg{
    margin-left: -490px;
}
.c .ggg{
    width: 80%;
}
.ho {
    padding-top: 70px;
text-align: center;
width: 50%;
margin: 0 auto;
}
.ho .g{
    font-size: 30px;
}
.ho .gg{
    font-size: 15px;
    line-height: 40px;
}
.ho .e{
    margin-top: 100px;
}
.ho .row .dd{
    font-size: 25px;
    color: #fff;
}
.ho .gggg{
    
    line-height: 80px;
    
}
.ho .gggg .col-3{
    opacity: 0.5;
}
.ll {
    margin-top: 40px;
    margin-bottom: 80px;
}
.lap {
    font-size: 30px;
}
.embed-responsive {
    margin: 0 auto;
width: 100%;
height: 50vw;
}
.ge{
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
}
.co {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #2d3136;
}
.rr{
    width: 300px;
    border-radius: 3px;
    height: 170px;
    background-color:#2d3136 ;
    border: solid 1px red;
    
}
.Message{
    line-height: 80px;
    padding-right: 210px;
}
.ac {
    padding-right: 250px;
    line-height: 80px;
}
.ra {
   
    background-color:#2d3136 ;
    border: solid 1px red;
}
.ala {
    margin-top: 20px;
    margin-left: 110px;
    
}
.gfgf{
    width: 40px;
    height: 40px;
}
.dada{
    width: 50px;
    height: 50px;
}
footer{
    background-color: #2a2d33;
}
.lk {
    font-size: 15px;
}
.lh {
    margin-left: 120px;
}