
.b{
background-image:url('../img/Rectangle\ 2.png'), url('../img/Layer\ 4.png');
background-size: 100% ;
background-repeat: no-repeat;
width: 100%;
}
.b  .fd{
    font-size:2vw ;
}
.b .a{
    padding-top: 13vw;
}
.b .t{
    width: 30vw;
    color:#fff;
}

.b .x{
    padding-top: 2vw;
    font-size: 1vw;
    color:#fff;
    width: 30vw;
}
.b .navbar{
    position: absolute;
    left: 17%;
    top: 5%;
}

.b .q{
    width: 15vw;
    height: 15vw;
}

.b .a2{
    margin-left:35vw;

font-size: 2vw;
color:#fff;
text-decoration: none;
}
.b .row {
    padding: 15vw 0 ;
}
.b .aa{
    margin-top: 5vw;
}
.a .justify-content-center{
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.a .aaa{
    font-size: 3vw;
}
.a .aaaa{
    font-size: 1.5vw;
}
.a .bb{
    width: 3vw;
    height: 3vw;
}
.a .xx{
    margin-top: 3vw;
    margin-bottom: 4vw;
}
.c{
    background-color: #52ad81;
    text-align: center;
    padding-top: 3vw;
    color:#fff;
}
.c .g{
    font-size: 3.3vw;
    line-height: 5vw;
}
.c .gg{
    margin: 0 auto;
    font-size: 2vw;
}
.c .ggg{
    width: 80%;
}
.ho {
    padding-top: 4vw;
    text-align: center;
    margin: 0 auto;
}
.ho .g{
    font-size: 1.8vw;
    font-weight: bold;
}
.ho .gg{
    font-size: 1vw;
    line-height: 3vw;
}
.ho .e{
    margin-top: 4vw;
    font-size: 2vw;
}
.ho .row .dd{
    font-size: 1.3vw;
    color: #fff;
}
.ho .tttt{
    padding: 0 20vw;
}
.ho .gggg{
    line-height: 5vw;
    font-size: 1.3vw;
}


.ho .text-secondary{
    background-color: #e9eef3;
}
.ho .text-success{
    background-color: #deebde;
}
.ho .text-info{
    background-color: #dee9ec;
}
.lap {
    background-color: #e9eaed;
}

.ll {
    margin-top: 3vw;
    margin-bottom: 5vw;
   
}
.ll .btn{
     font-size: 1.3vw;
}
.lap {
    font-size: 2vw;
}
.epe{
    color: #000000;
}
.embed-responsive {
text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 40vw;
    
    
}
.red{
    background-color: red;
    z-index: 10;
    width: 100%;
    height: 40vw;
    position: absolute;
    opacity: 0.3;
}
.ge{
    width: 15vw;
    height: 15vw;
    margin-bottom: 60px;
    
}
.co {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #2d3136;
}
.rr{
    width: 300px;
    border-radius: 3px;
    height: 170px;
    background-color:#2d3136 ;
    border: solid 1px red;
    
}
.Message{
    line-height: 5.3vw;
    padding-right: 35vw;
    font-size: 2vw;
}

.ac {
    padding-right: 25vw;
    line-height: 5.3vw;
    font-size: 1.5vw;
}
.ra {
   width: 80%;
   margin-left: 6vw;
    background-color:#2d3136 ;
    border: solid 1px red;
}
.rr{
    width: 80%;
}
.ala {
    margin-top: 20px;
    width: 30%;
    margin-left: 12vw;
}
.gfgf{
    width: 2vw;
    height: 2vw;
}
.dada{
    width: 2.5vw;
    height: 2.5vw;
}
footer{
    background-color: #2a2d33;
}
.lk {
    font-size: 17px;
    margin-left: 10px;
}
.lh {
}
.ptpt{
    padding-left: 25vw;
}
.lk{
    font-size: 1vw;
    line-height: 3px;
}
