*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #52646b;
}
.container{
    width: 1280px;
    padding: 0px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
}
.container2{
    position: relative;
    width: 1280px;
    padding: 0px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}
.container3{
    position: relative;
    width: 1280px;
    padding: 30px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}
.first_line {
    width: 100%;
    padding-top: 40px;
    height: 730px;
    background-image: linear-gradient(135deg, transparent 720px, #f5f5f5 720px, transparent 725px);
}
.second_line {
    height: 730px;
    width: 100%;
    background-image: radial-gradient(circle at 235px 570px, #f5f5f5 15px, transparent 15px), radial-gradient(circle at 480px 500px, #f5f5f5 15px, transparent 15px), linear-gradient(135deg, transparent 570px, #f5f5f5 570px, transparent 575px);
}

.container .div_header{
}
.container .div_header .marcy{
    position: absolute;
    background-color: #80b7b3;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 130px;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    color: #ffffff;
    box-shadow: 0px 10px 10px #959999;
}
.container .div_header .Story{
    padding-right: 80px;
 padding-top: 40px;
  text-align: center;
    font-size: 252px;
    color: #d9dbdc;
    letter-spacing:20px
}
.text_travel_blo{
    display: inline-block;
}
.text_travel{
    font-size: 18px;
    margin-bottom: 30px;
    color: #7d8b90;
}

.Nullarn{
    font-size: 40px;
    width: 430px;
    margin-bottom: 40px;
    color: #273d46;
}
.lor_gla{
    margin: 50px 0px;
}
.text_travel_blo div p{
    line-height: 30px;
    width: 400px;
    margin:40px 0;
    color: #52646b;
}
.button{
    color: #ffffff;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    border-radius: 30px;
    width: 200px;
    height: 45px;
    background-color: #80b7b3;
    box-shadow: -4px 4px 40px #e6e6e6;
}
.button b{
    margin-right: 20px;
}
.img_travel_blo{
    display: inline-block;
}
section{
    position:;
}
.volcano{
    top: 0%;
    position: absolute;
    right: 0%;
    box-shadow: -4px 4px 40px #e6e6e6;
    background-image: url("../img/kawah-ijen-volcano.png");
    width: 650px;
    height: 530px;
    border: 15px solid white;
}
.volcano div{
    top: 60px;
    position: absolute;
    right: 400px;
    box-shadow: -4px 4px 40px #e6e6e6;
    background-color: #d6b29c;
    width: 340px;
    height: 220px;
    border: 15px solid white;
}
.container2 .gray_square{

    display: inline-block;
    width: 400px;
    height: 260px;
    background-color: #ced6d9;
    border: 15px solid white;
    box-shadow: -4px 4px 40px #e6e6e6;
}
.gray_square .ven_square{
    position: absolute;
    top: 250px;
    right: 200px;
    width: 750px;
    height: 315px;
    background-color: #ffffff;
    box-shadow: -4px 4px 40px #e6e6e6;
    
}
.container2 .quote_text{
    padding-top: 45px;
    padding-left: 60px;
    vertical-align: top;
    display: inline-block;
}
.quote_h{
    font-size: 18px;
    color: #7d8b90;
}
.quote_text .nullam{
    padding-top: 35px;
    width: 375px;
    font-size: 30px;
}
.cont{
    padding-left: 115px;
    margin-bottom: 380px;
}
.ven_square .ven_square_text{
    line-height: 40px;
    color: #273d46;
    width: 555px;
    margin: 75px auto 20px auto;
    font-size: 24px;
}
.ven_diesel{
display: inline-block;
margin-left: 95px;
font-size: 15px;
color: #52646b;

}
.years_of_life{
    margin-left: 10px;
display: inline-block;
font-size: 18px;
color: #959596;
}
.ven_square .button{
    margin-top: 55px;
    margin-left: 300px;
}
.cont_email{
    padding-top: 150px;
    position: relative;
    width: 1280px;
    height: 615px;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url("../img/photo-1418065460487-3e41a6c84dc5.png");
}
.cont_email .email_square{
  margin: auto;
    width: 700px;
    height: 330px;
    background: #3c4f57;
    opacity: 0.95;
    padding-top: 60px;

}
.like_what{
    width: 445px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    line-height: 40px;
    color: #d8dcdd;
}
.inp{
    padding: 0 60px;
    margin-bottom: 20px;
}
input[type='name']{
    margin-right: 30px;
    display: inline-block;
    width: 230px;
    height: 45px;
    color: #acb2b4;
    border: 1px solid #2f3e44;
    border-radius: 100px;
    font-size: 15px ;
    padding-left: 40px;
    background-color: #2f3e44;
}
input[type='email']{
    display: inline-block;
    width: 230px;
    color: #acb2b4;
    height: 45px;
    border: 1px solid #2f3e44;
    border-radius: 100px;
    font-size: 15px ;
    padding-left: 40px;
    background-color: #2f3e44;
}
input[type='submit']{
    font-size: 17px;
    width: 250px;
    height: 45px;
    background-color: #80b7b3;
    color: white;
    border-radius: 100px;
    border: none;
    margin: 20px 215px ;

}
