<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/styles.css">
</head>
<body>
  <div class="top-line">
    <div class="navbar top-line__inner">
      <div class=" navbar__logo">
        <div class="navbar__log">MetroBlog</div>
      </div>
      <div class="navbar__links">
        <a href="" class="navbar__link">Home</a>
        <a href="" class="navbar__link">About</a>
        <a href="" class="navbar__link">Articles</a>
        <a href="" class="navbar__link">Pages</a>
      </div>
    </div>
  </div>
  <div class="bloc-banner">
<div class="info bloc-banner__inner">
  <div class="info__text">
    <div class="info__heading">Apple iPad</div>
    <div class="info__subtitle">Reviews</div>
    <div class="info__video">Video review</div>
  </div>
  <div class="info__img">
  </div>
</div>
  </div>
  <div class="bloc-posts">
    <div class="comments bloc-posts__inner">
      <div class="comments__info">
        <div class="comments__card">
<div class="card_imge"></div>
<div class="card__titleText">
<div class="card__titleCard">Lorem Ipsum is simply cssauthor.com</div>
<div class="card__titleCard2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium magnam laborum quo obcaecati cumque architecto est modi laudantium enim ab ducimus exercitationem at dolores cum voluptatem sunt nisi perferendis libero et, iste beatae adipisci sed quae! Temporibus tempore rerum neque qui iusto natus animi vitae.</div>
</div>
</div>
        <div class="comments__list">
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
<div class="comments_card2">
  <div class="card_title1">Lorem ipsum dolor sit.</div>
  <div class="card_title2">30/12/21 By:Mriya</div>
<div class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ad rem porro. Nostrum cum sunt est, nam eos saepe error, provident, quidem explicabo quisquam dolor.</div>
</div>
        </div>
      </div>
      <div class="comments__advertising">
<div class="comments__img1"></div>
<div class="comments__img2"></div>
<div class="comments__img3"></div>
      </div>
    </div>
  </div>
  <div class="bloc-footer">
    <div class="information bloc-footer__iner">
      <div class="information__All">All Rights Reserved to cssauthor.com
      </div>
<div class="information__icon">
  <div class="information__icon1"></div>
  <div class="information__icon2"></div>
  <div class="information__icon3"></div>
</div>
    </div>
  </div>
</body>
</html>