<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson 6</title>
    <link rel="stylesheet" href="style/style_lesson6.css">
</head>
<body>
    <header>
        <div class="container">
            
            <div class="present">
                <div class="greeting">Hello Hillel</div>
                <div>
                   <div class="grad">
                       <div> elit. Excepturi recusandae corporis  ipsum ipsa necessitatibus numquam officiis quaerat nostrum. Non error mollitia necessitatibus incidunt laboriosam?</div>
                   </div>
                </div>
                <div class="complete">complete !</div>
    </div>
    
        </div>
    </header>
</body>
</html>