<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style_cap.css">
    <link rel="stylesheet" href="./style/layout.css">
</head>
<body>
    <header class="container">
        <div >
            <div class="logo"></div>
                <h1>О себе</h1>
        </div>
        <nav>
            <a href="../index.html" class="blue">О себе</a>
            <a href="../My_goals.html" class="blue">Мои цели</a>
            <a href="../lessons/lessons.html"class="blue">Занятия</a>
            <a href="#"class="white">Макеты</a>
            <a href="https://google.com" target="_blank" class="blue">Google</a>
        </nav>
    </header>
    <main>
        <div class="container2">
            <a href="./layout_first/Agnecy.html">Первый макет</a>
            <img src="./image/Phot.png" alt="first_layout">
        </div>
        <div class="container2">
            <a href="./layout_second/lesson6.html">Второй макет</a>
            <img src="./image/Phot2.png" alt="first_layout">
        </div>
        <div class="container2">
            <a href="./layout_third/index.html">Третий макет</a>
            <img src="./image/Phot3.png" alt="first_layout">
        </div>
        <div class="container2" >
            <a href="./layout_fourth/layout_fourth.html">Четвертый макет</a>
            <img src="./image/Phot5.png" alt="fourth_layout">
        </div>
        <div class="container2" >
            <a href="./layout_fifth/layout_fifth.html">Пятый макет</a>
            <img src="./image/Phot4.png" alt="fifth_layout">
        </div>
        <div class="container2" >
            <a href="./layout_sixth/layout_sixth.html">Шестой макет</a>
            <img src="./image/Phot6.png" alt="sixth_layout">
        </div>
        <div class="container2" >
            <a href="./layout_seventh/layout_seventh.html">Седьмой макет</a>
            <img src="./image/Phot7.png" alt="sixth_layout">
        </div>
        <div class="container2" >
            <a href="./layout_eight/layout_eight.html">Восьмой макет</a>
            <img src="./image/Phot8.png" alt="sixth_layout">
        </div>
        <div class="container2" >
            <a href="./layout_ninth/layout_ninth.html">Девятый макет</a>
            <img src="./image/Снимок экрана (483).png" alt="sixth_layout">
        </div>
    </main>
</body>
</html>