<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Макет четвертый</title>
    <link rel="stylesheet" href="./style/style_layout_fourth.css">
</head>
<body>
<div class="container">

    <div class=" square square_right1"></div>
    <div class="square left_square1"></div>


    <div class="square square_right2"></div>
    <div class="square left_square2"></div>


        <div class="square square1"></div>

</div>

</body>
</html>