<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/eleventh_layout.css">
    <title>Flat Mate</title>
  </head>
  <body>
      <div class="b">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-lg-12 ">
        <nav class="navbar navbar-light ">
          <a class="navbar-brand text-white fd" href="#">
            <img src="./img/Ellipse 2.png"  class="d-inline-block align-top" style="height: 2vw;width: 2vw;" alt="">
            Flat Mate
          </a>
          <a href="#" class="a2">Have an Account?</a>
        </nav>
      </div>
     
        <div class="col-lg-6 t "  >
          <div>
          Lorem ipsum dolor sit amet
        </div>
        <div class="x" >
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, debitis eius! Laudantium ullam impedit error est perspiciatis eos esse quia at accusantium atque, beatae iusto consectetur consequuntur repudiandae ipsam debitis!
            </div>
            <div class="aa">
            <button type="button" class="btn btn-success" style="font-size: 1.5vw;">Read More</button>
          </div>
        </div>
          <div class="col-lg-6 t" >
            <img src="./img/ico.png" alt="" class="q">
          </div>
          </div>
        
    </div>
    </div>
 
    <div class="a">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-2 g">
            <svg width="10vw" height="10vw" viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
              <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
              <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </div>
          <div class="col-6">
            <div class="aa">
              <p class="aaa">Lorem ipsum dolor sit amet</p>
              <p class="aaaa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus ducimus labore eum cumque quidem modi officiis rerum aliquam iste quasi facere, tempora dicta exercitationem error, iusto corrupti consequuntur commodi.</p>
            </div>
          </div>
          <div class="col-1">
            <div class="row">
              <div class="col-12 xx">
                <svg width="3vw" height="3vw" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                </svg>
              </div>
              <div class="col-12">
                <img class="bb" src="./img/facebook_black_24dp.svg" alt="dc" >
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="c">
    <div class="container">
      <div class="row justify-content-center">
      <div class="col-12 g">The Modern Era of Web Designing</div>
      <div class="col-12 gg">We make wireframe ultra fast </div>
      <div class="col-12">
        <img src="./img/__ Browser-window __.png" alt="" class="ggg">
      </div>
    </div>
    </div>
  </div>
  <div class="ho">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 g">A wireframe is the primitive skeleton of your website.</div>
        <div class="col-7 gg">Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Minima doloribus quaerat quo rerum accusamus laboriosam molestiae optio cumque fugiat nam.</div>
        <div class="col-12 tttt">
          <div class="row justify-content-around e">
        <div class="col-3 bg-secondary dd">Free</div>
        <div class="col-3 bg-success dd">Professional</div>
        <div class="col-3 bg-info dd">Enterprise</div>
      </div>
      <div class="gggg">
      <div class="row justify-content-around ">
        <div class="col-3  text-secondary ">$0/Month</div>
        <div class="col-3 text-success">$50/Month</div>
        <div class="col-3  text-info">$90/Month</div>
      </div>
      <div class="row justify-content-around ">
        <div class="col-3  text-secondary ">1Project</div>
        <div class="col-3 text-success">20Project</div>
        <div class="col-3  text-info">Unlimitted</div>
      </div>
      <div class="row justify-content-around ">
        <div class="col-3   text-secondary  ">5 Members</div>
        <div class="col-3 text-success">50 Member</div>
        <div class="col-3 text-info">Unlimited</div>
      </div>
      <div class="row justify-content-around ">
        <div class="col-3  text-secondary ">5GB</div>
        <div class="col-3  text-success">100GB</div>
        <div class="col-3 text-info ">500GB</div>
      </div>
    </div>
    <div class="ll">
      <div class="row justify-content-around ">
        <div class="col-3 bg-secondary ">
          <button type="button" class="btn text-white ">Sing Up</button>
        </div>
        <div class="col-3 bg-success ">
          <button type="button" class="btn text-white">Buy Now</button>
        </div>
        <div class="col-3 bg-info ">
          <button type="button" class="btn text-white ">Boy Now</button>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lap ">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-7 text-secondary ee">
A wireframe is the primitive skeleton of your websity.
      </div>
    </div>
  </div>
</div>

  <div class="embed-responsive ">
    <div class="red"></div>
    <iframe class="embed-responsive" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" ></iframe>
  </div>

  <div class="co ">
    <dir class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-secondary mx-auto">
<img class=" ge" src="./img/__ Contact Icon __.png" alt="dwdw">
        </div>
        <div class="col-6 text-secondary ">
          <form>
            <div class="row">
              <div class="col-12 text-white ac">Name</div>
              <div class="col-12">
                <input type="name" class="form-control ra" >
              </div>
              <div class="col-12 text-white ac">E-Mail</div>
              <div class="col-12">
                <input type="email" class="form-control ra" >
              </div>
            </div>
          </form>
        </div>
        <div class="col-6">
<div class="Message text-white">Message</div>
<div>
  <form >
    <input type="text" class="rr form-control">
  </form>
</div>
<div>
  <button type="button " class="btn ala btn-danger">SEND</button>
</div>
        </div>
      </div>
    </dir>
  </div>
  <footer>
    <div class="container ">
      <div class="row justify-content-center lh">
        <div class="col-6 text-secondary ">
          <div class="row justify-content">
          <div class="col-1 text-secondary ">
<img src="./img/Ellipse 2.png" alt="dwdwd" class="gfgf">
</div>
<div class="col-10 text-secondary lk">
<div>Flate Mate | Designed By WWW.CSSAUTHOR.COM</div>
</div>
</div>
      </div>
      <div class="col-5 ptpt">
        <div class="row justify-content">
          <div class="col-6 text-secondary ">
<img src="./img/facebook_black_24dp.svg" alt="dwdwd" class="dada">
</div>
<div class="col-1 text-secondary ">
  <svg width="2.5vw" height="2.5vw" viewBox="0 0 16 16" class="bi bi-file-earmark-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
  </svg>
</div>
</div>
      </div>
    </div>
  </div>
  </footer>
</body>
</html>