<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="./style/style_index.css">
    <link rel="stylesheet" href="fonts/style.css">
</head>
<body>
    <header>
        <div class="container">

    <h1>Пупкин Василий Иванович</h1>
    <div class="line">
<nav>
    <a href="">РЕЗЮМЕ</a>
    <a href="">ПОРТФОЛИО</a>
    <a href="">ПРОЕКТЫ</a>
    <a href="">КОНТАКТЫ</a>
</nav>
</div>
        </div>
    </header>
    <section>
        <div class="container_infa_man">
            <div class="line_of_the_second_kind">
            <h2>ОБО МНЕ</h2>
            </div>
            <div class="about_me">
                <div class="about_me_img">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Grumpy_Cat_by_Gage_Skidmore.jpg" alt="cat">
                </div>
                <div class="about_me_text">
                    <div class="headline_about_me">Пара слов про меня</div>
                    <div class="text_me"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, earum? Cupiditate assumenda molestias voluptatibus maxime quod laboriosam impedit minima? Earum similique saepe adipisci possimus dolore maiores cum totam veritatis pariatur?</div>
                    <div class="block_with_quote">
                        <div class="block_with_quote_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magni praesentium, ipsam rerum aliquam rem odit voluptatem totam fugit sint veniam dolorem laboriosam eveniet fugiat cupiditate impedit earum facere ipsum?</div>
                    <div class="block_with_quote_quotes">Иван Пупкин, <b>Web Designer</b></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        
        <div class="container_infa_man">
            <div class="border_bottom">
                <div>
            <div class="skills">
<div class="skills_title" >Мои навыки</div>
<div class="photoshop_result">Photoshop</div>
<div class="html_result">HTML</div>
<div class="css_result">CSS</div>
<div class="js_result">JavaScript</div>
<div class="angular_result">Angular</div>
<div class="markup">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="number_markup">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
</div>
            </div>
            <div class="skill_description">
<div class="skills_title">Что я делаю</div>
<ul>
    <li><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, impedit sunt dolor earum quisquam veniam repellat quod.</div></li>
    <li><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid error eius eos reiciendis perferendis temporibus fuga!</div></li>
    <li><div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio autem velit magnam quae, maxime eos est nemo.</div></li>
    <li><div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut possimus non inventore vel quae illo blanditiis praesentium?</div></li>
    <li><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora harum odio officia, consequatur voluptatibus itaque voluptas numquam.</div></li>
    <li><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non alias officiis reiciendis, placeat aut optio a unde!</div></li>
</ul>
            </div>
        </div>
        </div>
    </div>
    </section>
    <section>
        <div class="container_infa_man">
            <div class="cat">
        <div class="cat_img"></div>
        <div class="lorem_cat">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, totam labore! Eos ut quos, sapiente praesentium molestiae, consequuntur, ad veniam eum quibusdam et ullam accusamus delectus! Quos eius veniam iusto.</div>
    </div>
    </div>
    </section>
    <footer>
        <div class="container_infa_man2">
<div class="contacts">
    <h2>КОНТАКТЫ</h2>
<div>e-mail:vasia@i.ua</div>
<div>моб.+380990001122</div>
</div>
<div class="social_network">
    <h2>СОЦСЕТИ</h2>
    <a>facebook</a>
<a>vk</a>
<a>linkedin</a>
</div>

<div class="circles">
    <div class="top_circle"><div class="middle_circle"><div class="inner_circle"> <div class="text_circle"> Lorem, ipsum.</div></div></div></div>
</div>
<div>Hillel,2021</div>
        </div>
    </footer>
</body>
</html>