<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <div class="container">
<div class="first_layer">
    <div class="honeycomb first_color"></div>
    <div class="honeycomb second_color"></div>
</div>
<div class="second_layer">
    <div class="honeycomb first_color"></div>
    <div class="honeycomb second_color"></div>
    <div class="honeycomb third_color"></div>
    <div class="honeycomb fourth_color"></div>
    <h2 class="h1">THIS PAGE IS</h2>
</div>
<div class="third_layer">
    <div class="honeycomb first_color"></div>
    <div class="honeycomb second_color"></div>
    <div class="honeycomb third_color"></div>
    <div class="honeycomb fourth_color"></div>
    <div class="honeycomb third_color"></div>
    <div class="honeycomb second_color"></div>
    <div class="honeycomb first_color"></div>
    <h2 class="h2">YOUR</h2>
</div>
<div class="fourth_layer">
    <div class="honeycomb fourth_color"></div>
    <div class="honeycomb third_color"></div>
    <div class="honeycomb second_color"></div>
    <div class="honeycomb first_color"></div>
    <div class="honeycomb fifth_color"></div>
    <h2 class="h3">HOMETASK</h2>
</div>
<div class="fifth_layer">
    <div class="honeycomb first_color"></div>
    <div class="honeycomb fifth_color"></div>
</div>
    </div>
</body>
</html>