<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stayle/style.css">
</head>
<body>
<header>
    <div class="container">
     <div class="div_header">
         <div class="marcy">Marcy..</div>
         <div class="Story">STORY</div>
     </div>
    </div>
</header>
<section>
    <div class="container3">
        <div class="text_travel_blo">
<div class="text_travel">TRAVEL</div>
<div class="Nullarn">Nullarn id dolor id nidh ultricies vehicula ut id elit.</div>
<div class="lor_gla">
    <p class="lor">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium suscipit expedita aliquam dolores debitis totam numquam inventore rerum asperiores quae!</p>
    <p class="lor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, expedita accusamus beatae laboriosam numquam soluta aliquam iste sunt eos! Recusandae.</p>
</div>
<div class="button"> <b> FULL STORY </b> &#8594;</div>
        </div>
        <div class="img_travel_blo">
            <div class="volcano">
                <div></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container2">
        <div class="first_line">
            <div class="second_line">
        <div class="cont">
        <div class="gray_square">
            <div class="ven_square"> <div class="ven_square_text"> “Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor”</div>
        <div class="ven_diesel">VEN DIESEL<div class="years_of_life">1962-2006</div></div><div class="button"><b> FULL STORY </b>&#8594;</div></div>
        </div>
        <div class="quote_text">
            <div class="quote_h">QUOTE</div>
            <div class="nullam">Nullam id dolor id nibh ultricies vehicula elit.</div>
        </div>
    </div>
    </div>
</div>
</div>
</section>
<section>
    <div class="cont_email">
        <div class="email_square">
            <div class="like_what">Like what you're reading? Get weekly updates that will help you grow as a designer.</div>
            <form action="#">
                <div class="inp">
            <input type="name" placeholder="NAME">
            <input type="email" placeholder="EMAIL" pattern="[a-z]+@">
        </div>
            <input type="submit" value="SUBSCRIBE    &#8594;">
        </form>
        </div>
    </div>
</section>
</body>
</html>