<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="" class="active">HOME</a>
                <a href="">PORTFOLIO</a>
                <a href="">ABOUT US</a>
                <a href="">CONTACT</a>
            </nav>
            <div class="present">
                <div class="head">
<h1>Our strong organization</h1>
<div class="discription">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque fugiat labore ab quibusdam maxime corrupti doloremque, sed voluptatem at, quas voluptatibus quam porro ratione rerum, quasi dolores eaque expedita quae.
</div>
<a href="#" class="button">
        Contact Us
</a>
                </div>
                <div class="video">
                    <iframe class="video-content" src="https://www.youtube.com/embed/XUxpEYnR9JM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="last-line"></div>
            </div>
        </div>
    </header>

    <section class="services">
<div class="container">
    <div class="present">
        <div class="head">
            <h2>DO YOU KNOW WE CAN PROVIDE FOR YOU ?</h2>
            <div class="discription">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos delectus illum reprehenderit aliquam obcaecati ex accusamus iusto facilis, quisquam dolores ipsam odit eaque, qui dolore error minus mollitia molestiae vero.
            </div>
            <a href="#" class="button">
                Learn More
        </a>
        </div>
        <div class="nav">
            <div>
            <div class="blocks">
                <img src="./img/Settings.png" alt="Settings" class="img_setting">
                <h3>Management</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea molestiae sapiente eaque, molestias similique quo ad?  </div>
            </div>
            <div class="blocks">
                <img src="./img/Pencil.png" alt="Pencil" class="img_pencil">
                <h3>UI/UX Design</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea molestiae sapiente eaque, molestias similique quo ad?  </div>
            </div>
        </div>
        <div class="div_button">
            <div class="blocks">
                <img src="./img/Diamond.png" alt="diamond" class="img_diamond">
                <h3>Logo/Branding</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea molestiae sapiente eaque, molestias similique quo ad?  </div>
            </div>
            <div class="blocks">
                <img src="./img/Truck_2.png" alt="truck" class="img_truck">
                <h3>Animation</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea molestiae sapiente eaque, molestias similique quo ad?  </div>
            </div>
            
        </div>
        </div>
        <div class="last-line"></div>
    </div>

    
</div>
    </section>
    <section>
<div class="container">
    <div class="present2">
        <div>
        <h2>FEATURE PRODUCTS</h2>
        <div class="lor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, aliquam numquam commodi deleniti recusandae eum voluptas</div>
        <div class="hr"></div> 
    </div>
    <nav>
        <a href="">ALL</a>
        <a href="">PRINT TEMPLATE</a>
        <a href="">WEB TEMPLATE</a>
        <a href="">USER INTERFACE</a>
        <a href="">MOCK-UP</a>
    </nav>
    </div>
    <div class="squares">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
   <div></div>
    </div>
</div>
    </section>
    <section>
        <div class="container">
            <div class="present3" >
    <h2>MEET OUR TEAM</h2>
    <div class="lo">ossimus doloribus. Atque voluptas itaque quod cum, suscipit eligendi incidunt ipsum unde maiores, quae impedit enim id soluta.</div>
    <div class="hr2"></div>
    <div class="information">
<div class="squares2"></div>
<div class="data">
    <h2>MARK WAUGH</h2>
    <div class="lo2">cupiditate non maiores neque animi eos harum vel, totam ratione earum fugiat temporibus sapiente praesentium. Natus commodi soluta sequi quam.</div>
<nav>
    <a href="#">Facebook</a>
    <a href="#">Dribble</a>
    <a href="#">Bechance</a>
    <a href="#">Twiter</a>
</nav>
<div class="set_of_squares">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
</div>
    </div>
            </div>
        </div>
    </section>
    <section class="contai">
        <div class="container">
            <div class="present4">
<div class="desing">
    <h2>Design tips, tricks, and freebies. Delivered weekly.</h2>
    <div>Lorem ipsum dolor sit, voluptatem quibusdam dolor veritatis praesentium nostrum quod cum sequi</div>
    <div class="email_sub">
        <div class="get_email">
       <form action="#" method="GET" >
           <input type="email" placeholder="Email Address..." pattern="[a-z]+@">
           <input type="submit" value="SUBSCRIBE" >
       </form>
    </div>
    </div>
</div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="head">
<h2>GET IN TOUCH</h2>
<div class="lo">  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et magni numquam odit illum nam itaque perferendis minima ipsam velit aperiam vero suscipit nihil, atque laborum obcaecati ipsum libero eum quisquam?</div>
<div class="hr2"></div>
<div class= "Name_Mail_Type__SEND_Cotact">
    <div class="Name_Mail_Type__SEND">
        <form action="#" method="GEt">
        <div class="Name_Mail">
            <div class="Name">
    <input type="name" placeholder="Name" pattern="[a-z]+@">
            </div>
            <div class="Mail">
                    <input type="email" placeholder="Your Mail" pattern="[a-z]+@">
            </div>
        </div>
        <div class="Type_SEND">
            <div class="Type">
                    <textarea type="comment" placeholder="Type your  message"></textarea>
            </div>
            <input type="submit" value="SEND MESSAGE" >
        </div>
    </form>
    </div>
    <div class="Contact_info">
        <h4>COTACT INFO</h4>
        <p class="jalala">Jalalabad 24/A, Ambaarkhana, Sylhet, Bangladesh</p>
        <p class="red">redwan@deviserweb.com</p>
        <p class="red">+(88) 017 615 46373</p>
    </div>
</div>
            </div>
        </div>
    </section>
    <footer class="Facebook">
            <div class="container">
                <div class="copy">&copy;Copyright@Junaed 2016, All rights reserved.</div>
                <div class="img_Twi">
                    <img src="./img/1468368398_Twitter_Rounded_Solid.png" alt="twit">
                    <img src="./img/1468368407_LinkedIn_Rounded_Solid.png" alt="link">
                    <img src="./img/1468368412_Google_Rounded_Solid.png" alt="googl">
                    <img src="./img/1468368389_Facebook_Rounded_Solid.png" alt="Face">
                </div>
            </div>
    </footer>
</body>
</html>