*{
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
}
body{
    background-color: #d1d1d1;
}

.container{
    width: 1280px;
    padding: 85px 100px 60px 100px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}
.container nav{
    text-align: right;
    padding-top: 60px;
}
.container nav a{
    color: #000000;
    text-decoration:none;
    margin: 0 5px;
}
.line  {
    border-bottom: 4px dashed #000;
}
.container_infa_man{
    width: 1280px;
    padding: 0 100px 60px 100px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}
.container_infa_man .line_of_the_second_kind{
    font-size: 60px;
}
.container_infa_man .line_of_the_second_kind h2{
    
line-height :60px
}
.container_infa_man .about_me{
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid #000;
}
.container_infa_man .about_me .about_me_img{
    display: inline-block;
    width: 395px;
    height: 410px;
    overflow: hidden;
}
.container_infa_man .about_me .about_me_img img{
    width: 395px;
}
.container_infa_man .about_me .about_me_text{
    display: inline-block;
    vertical-align: top;
    padding-left: 35px;
    font-size: 25px;
}

.container_infa_man .about_me .about_me_text .headline_about_me{
width: 350px ;
height: 40px;
color: #ffffff;
padding-left: 15px;
padding-top: 15px;
background-repeat: no-repeat;
background-size:55px 55px;
background-position:bottom right;
background-color: #000000;
background-image: linear-gradient(to top left,#ffffff 50%, transparent 50%);
}
.container_infa_man .about_me .about_me_text .text_me{
    width: 600px;
    height: 140px;
    margin-top: 35px;
}
.container_infa_man .about_me .about_me_text .block_with_quote{
    width: 645px;
    height: 155px;
    background-color: #d1d1d1;
    margin-top: 25px;
}
.container_infa_man .about_me .about_me_text .block_with_quote .block_with_quote_text{
padding: 30px 25px 0 20px;
font-size: 18px;
}
.container_infa_man .about_me .about_me_text .block_with_quote .block_with_quote_quotes{
    text-align: right;
    padding-right: 40px;
    padding-top: 25px;
    font-size: 17px;
}
.skills{
    display: inline-block;
}

.skills .skills_title{
width: 250px ;
height: 40px;
color: #ffffff;
padding-left: 15px;
padding-top: 5px;
background-repeat: no-repeat;
background-size:55px 55px;
background-position:bottom right;
background-color: #000000;
background-image: linear-gradient(to top left,#ffffff 50%, transparent 50%);
font-size: 35px;
}
.skills .photoshop_result{
    padding: 10px 0 0 15px ;
    font-size: 30px;
    margin-top: 25px;
    width: 405px;
    height: 40px ;
    background-color: #d1d1d1;
}
.skills .html_result{
    padding: 10px 0 0 15px ;
    margin-top: 10px;
    font-size: 30px;
    width: 495px;
    height: 40px ;
    background-color: #d1d1d1;
}
.skills .css_result{
    padding: 10px 0 0 15px ;
    margin-top: 10px;
    font-size: 30px;
    width: 495px;
    height: 40px ;
    background-color: #d1d1d1;
}
.skills .js_result{
    padding: 10px 0 0 15px ;
    margin-top: 10px;
    font-size: 30px;
    width: 405px;
    height: 40px ;
    background-color: #d1d1d1;
}
.skills .angular_result{
    padding: 10px 0 0 15px ;
    margin-top: 10px;
    font-size: 30px;
    width: 300px;
    height: 40px ;
    background-color: #d1d1d1;
}
.markup div{
    margin-top: 10px;
    display: inline-block;
    margin-left: -5px;
    width: 100px;
    height: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.number_markup div{
    display: inline-block;
    margin-left: 87px;
}
.skill_description{
    vertical-align: top;
    display: inline-block;
    margin-left: 115px;
}
.skill_description .skills_title{
width: 250px ;
height: 40px;
color: #ffffff;
padding-left: 15px;
padding-top: 5px;
background-repeat: no-repeat;
background-size:55px 55px;
background-position:bottom right;
background-color: #000000;
background-image: linear-gradient(to top left,#ffffff 50%, transparent 50%);
font-size: 35px;
margin-bottom: 1px;
}
.skill_description ul{
    width: 450px;
    height: 270px;
}
.skill_description ul li{
    font-size: 60px;
}
.skill_description ul li div{
    margin-bottom: -40px;
    font-size: 19px;
}

.cat_img{
    width: 160px;
    height: 160px;
    background-color: #dde3e7;
    border-radius: 100px;
    display: inline-block;
}
.lorem_cat{
    margin-left: 45px;
    width: 805px;
    height: 65px;
    display: inline-block;
    vertical-align: top;
}
.container_infa_man2{
    width: 1280px;
    padding: 0 100px 60px 100px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #000000;
}
.container_infa_man2{
    color: white;
}
.contacts{
    margin-top: 45px;
display: inline-block;
vertical-align: top;
margin-left: 120px;
}
.social_network{
display: inline-block;
vertical-align: top;
margin-top: 45px;
margin-left: 65px;
}
.circles{
    margin-top: 45px;
    margin-left: 110px;
display: inline-block;
}
.top_circle{
   padding: 25px;
    height: 355px;
    width: 355px;
    border-radius: 350px;
    background-color: #ffffff;
}
.middle_circle{
    margin: auto;
   padding: 25px;
    height: 305px;
    width: 305px;
    border-radius: 300px;
    background-color:#000000 ;
}
.inner_circle{
    text-align: center;
    margin: auto;
    padding: 25px;
    height: 245px;
    width: 245px;
    border-radius: 240px;
    background-color: #ffffff;
}
.text_circle{
    margin-top: 75px;
    margin-left: 70px;
    font-size: 40px;
    width: 100px;
    height: 80px;
    color: #000000;
}
/*common*/

.border_bottom{
    padding-bottom: 45px;
    border-bottom: 2px solid black;
    
}
.line  {
    border-bottom: 4px dashed #000;
}
.line_of_the_second_kind{
    border-bottom: 4px solid #000;
}
.gradient_block{
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size:695px 120px;
    background-position:bottom right;
    background-image:
    linear-gradient(to top left,#ffffff 50%, transparent 50%);
}
