<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/tenth_layout.css">
</head>
<body>
    <h1 class="head_inn">InnovationsADM</h1>
    <header>
   
        <div class="main_header">
        <div class="burger">
        <div class="leftbar">
            <div class="top_leftbar">InnovationsADM</div>
            <div class="down_leftbar">
            <div class="admin_class">
                <div class="admin_img"></div>
                <div class="adm">
                <div class="admin_text">Administrator</div>
                <div class="admin_Online">Onlie</div>
            </div>
            </div>
            <div class="Admins_nav">
            <div><form action="#">
                <input type="name" placeholder="MAIN NAVIGATION">
            </form></div>
            <div class="ii">
            <div class="ad"></div>
            <div class="ad_text">Admins</div>
        </div>
        <div class="ii">
            <div class="us"></div>
            <div class="us_text">Users</div>
        </div>
        <div class="ii">
            <div class="ca"></div>
            <div class="ca_text">Cards</div>
        </div>
        <div class="ii">
            <div class="cat"></div>
            <div class="cat_text">Categories</div>
        </div>
        </div>
        </div>
        </div>
       </div>
    </div>
    <div class="icon">
<div class="icon1"></div>
<div class="icon2"></div>
<div class="icon3"></div>
<div class="icon4">
    <div class="icon4_img"></div>
    <div class="icon_admi">Administrator</div>
</div>


    </div>
    </header>
    <section>
        <div class="pro_adm">
        <div class="Profile_text">Profile</div>
        <div class="admin_profile_line">Admin > Profile</div>
    </div>
        <div class="block">
        <div class="Edit_username_block">
            <form action="#">
                <div class="Edit_user">Edit Username</div>
            <div>New username</div>
            <input type="name" placeholder="Username" >
            <div>Password</div>
            <input type="password" placeholder="Password">
            <input type="submit" value="Submit" >
        </form>
        </div>
        <div class="Edit_username_block">
            <form action="#">
            <div class="Edit_user">Edit Email</div>
            <div>New Email</div>
            <input type="email" placeholder="Email">
            <div>Password</div>
            <input type="password" placeholder="Password">
            <input type="submit" value="Submit" >
        </form>
        </div>
        <div class="Edit_username_block">
            <form action="#">
                <div class="Edit_user">Edit Password</div>
            <div>Old password</div>
            <input type="password" placeholder="Password">
            <div>New password</div>
            <input type="password" placeholder="Password">
            <div>Confirm password</div>
            <input type="password" placeholder="Password">
            <input type="submit" value="Submit" >
        </form>
        </div>
        <div class="Edit_username_block1">
            <form action="#">
                <div class="Edit_user">Edit Image</div>
                <input type="submit" value="Please open the image" >
             <input type="submit" value="Submit" >
        </form>
        </div>
    </div>
    </section>
</body>
</html>