<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восьмой макет</title>
    <link rel="stylesheet" href="./style/layout_eight.css">
    <link rel="stylesheet" href="./fonts/SourceSanaPro.css">
</head>
<body>
    <header>
<div class="container">
    <div class="block_logo">
<div class="logo">"</div>
</div>
<div class="logo_name">Prechu</div>
<div class="nav_header">
<nav>
    <a href="">Home</a>
    <a href="">Products</a>
    <a href="">Services</a>
    <a href="">Contact</a>
</nav>
</div>
</div>
    </header>
    <section>
        <div class="container">
            <div class="iphone_img"></div>
            <div class="text_iphone">
            <div class="lorem_big">Lorem ipsum dolor sit.</div>
            <div class="lorem_min">Lorem ipsum dolor sit amet consectetur </div>
            <div>
            <div class="button"><div class="lo"></div> Sing up now</div>
        </div>
        </div>
        </div>
    </section>
    <section>
        <div class="container2">
            <div class="con_blo">
                <div class="img_1">
                    <div class="img_1_im"></div>
                </div>
                <div class="blo_tex_con">
                <div class="con_1">Contrary to popular</div>
                <div class="con_text_1"> amet consectetur adipisicing elit. Possimus, illum!</div>
            </div>
            </div>
            <div class="con_blo">
                <div class="img_2">
                    <div class="img_2_im"></div>
                </div>
                <div class="blo_tex_con">
                <div class="con_2">Contrary to popular</div>
                <div class="con_text_2"> amet consectetur adipisicing elit. Possimus, illum!</div>
            </div>
            </div>
            <div class="con_blo">
                <div class="img_3">
                    <div class="img_3_im"></div>
                </div>
                <div class="blo_tex_con">
                <div class="con_2">Contrary to popular</div>
                <div class="con_text_2"> amet consectetur adipisicing elit. Possimus, illum!</div>
            </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container3">
            <div class="blo">
                <div class="text_basket">The Shopping cart</div>
                <div class="img_basket"></div>
            </div>
            <div class="blo2">
                <div class="gla_text">Some Bullet text here</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga.</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="container4">
            <p>Copyright © 2012-2013 cssauthor.com</p>
        </div>
    </footer>
</body>
</html>